.manuN{
    background: #E6E6E6;
    padding: 20px;
    height: 30px;

    filter: alpha(opacity=60); 
	}
	.tabText{
		font-family: arial;
    	font-size: 18px;
    	color: #00001a;
    	font-weight: bold;
        float: left;
	}
.singup{
	position: relative;
    height: 720px;
    float: left;
    margin: 2px;

    font-family: arial;
    font-size: 20px;
    color: black;
    margin: auto;
}
.button {
    background-color: #fCAF50;
    font-family: arial;
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 255px;
    margin: 2px;
}
.singinButton{
    background-color: #fCAF50; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}
.inputSingup{
	background-color: #ccccff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 420px;
    height: 10px;

}
.inputSingin{
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 15px 32px;
    display: inline-block;
    font-size: 14px;
    width: 220px;
    height: 3px;
}
#panel,#flip{
    padding:5px;
    text-align:center;
    background-color:#F3E2A9;
    font-family: arial;
}
#panel{
    padding:50px;
    display:none;
}
.crecateBox{
    height: 30px
}
.successRegister{
    text-align: center;
    border: 3px solid #E4E6E6;
    background: #E6E6E6;
    font-family: arial; 
}
.blockCalendar {
	position: relative;
   	margin: 5px;
    vertical-align: middle;
    width: 1900px;
	height: 840px;
	background: #b6b6b6;	

}
.munau_side{
    width: 300px;
    height: 840px;
    background: bisque;
    
}
.profile{
    position: absolute;
    top: 0px;
    background: burlywood;
    left: 300px;
    height: 840px;
    width: 1600px;
}
a:link, a:visited {
    background-color: #fCAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #FFffff;
    color: #fcaf50;
  }